/* increase start and end */
.container.lock-plugin .calendar>.days-grid>.day.locked {
          background-color: #ff9800;
          border: none;
          pointer-events: none;
          font-style: bold;
/* example */          
          border-bottom: 30px solid #ff9800; 
          border-left: 30px solid transparent;
 }                

.container.lock-plugin .calendar>.days-grid>.day.locked:not(.start):not(.end) {
      background-image: none; 
      font-style: none;
}
.container.lock-plugin .calendar>.days-grid>.day.locked:is(.start) {
      border-bottom: 10px solid;
      border-left: 10px solid transparent;
}
.container.lock-plugin .calendar>.days-grid>.day.locked:is(.end) {
      border-bottom: 10px solid;
      border-right: 10px solid transparent;
}
